In [1]:
import pandas as pd

In [2]:
dat = pd.read_csv("../artifacts/predictions/result.csv")

In [112]:
t1 = 'conn'
t2 = 'purd'

dat[(dat['team'].str.upper().str.contains(t1.upper()))
    |
    (dat['team'].str.upper().str.contains(t2.upper()))].sort_values(by='OUTCOME_PREDICTED',ascending=True)

     Unnamed: 0                 team  OUTCOME_PREDICTED
1          5246          Connecticut          10.415548
2          5247               Purdue          10.623147
275        5520  Central Connecticut         116.654634